body {
  background: pink;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  border: 5px solid #666;
  padding: 2rem;
}

button {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
}

.operator {
  background: orange;
}

.box {
  height: 3vh;
  border: 2px solid orange;
  background: #666;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 0 1rem 0;
  width: 100%;
}